{% extends 'MoneticoBundle::base.html.twig' %}

{% block title %}Accueil{%endblock%}

{% block base_body %}

<div class="row">
	<div class="col-sm-12">
		<div class="row well">
			<div class="col-sm-12">
				Hello world !
				{{dump(sVersion)}}
			</div>
		</div>
	</div>
</div>

{% endblock %}